# Database
DATABASE_URL="postgresql://neondb_owner:npg_A6grwWns7Vdk@ep-odd-art-ab4v9kxt-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_A6grwWns7Vdk@ep-odd-art-ab4v9kxt.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# App
APP_NAME=Qalb & Quran
